@using X.PagedList
@using X.PagedList.Web.Common
@using X.PagedList.Mvc.Core

@model IPagedList<Automobil>




<div class="row ">
    <div class="ml-2 col-md-6">
        Strana @Model.PageNumber od @Model.PageCount
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        @foreach (Automobil auto in Model)
        {
            <div class="slika">
                <h4>@auto.Marka @auto.Model @auto.Godiste</h4>
                <a asp-action="Details" asp-route-id="@auto.AutomobilId"><img src="@($"/Automobil/CitajSliku/{auto.AutomobilId}")" alt="" /></a>

                <p>@localizer["Korisnik"]: @auto.KorisnickoIme</p>
                <br />
                <p>@localizer["Cena"]:<a class="text-primary"> @auto.Cena €</a></p>
                <p>

                    @if (UserManager.GetUserName(User) == auto.KorisnickoIme || UserManager.GetUserName(User) == "admin")
                    {
                    <p>
                        <a asp-action="Delete" asp-route-id="@auto.AutomobilId">@localizer["Obrisi"]</a> |
                        <a asp-action="Edit" asp-route-id="@auto.AutomobilId">@localizer["Promjeni"]</a> |
                        <a asp-action="Details" asp-route-id="@auto.AutomobilId">@localizer["Detalji"]</a>
                    </p>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@auto.AutomobilId">@localizer["Detalji"]</a>
                }

                </div>
            }

    </div>
</div>

<div class="row  ">
    <div class="ml-2 col-md-7">
        <ul class="pagination">
            @if (Model.PageNumber > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-strana="1">Prva</a>
                </li>

                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-strana="@(Model.PageNumber-1)">&lt;</a>
                </li>
            }
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                    @*ovo  ==i? onda dodaj klasu active, ako je oznacena strana da se upali bootstrapova biblioteka active.ako nije na oznacenoj strani gasi se ta klasa*@
                    <a class="page-link" asp-action="Index" asp-route-strana="@i">@i</a>
                </li>
            }
            @if (Model.PageNumber < Model.PageCount)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-strana="@(Model.PageNumber+1)">&gt;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-strana="@Model.PageCount">Poslednja</a>
                </li>
            }
        </ul>
    </div>
</div>


@section Styles{
    <style>
        div.slika {
            width: 300px;
            border-radius: 5px;
            border: 1px solid black;
            padding: 10px;
            float: left;
            margin: 10px;
        }

            div.slika img {
                width: 280px;
                height: 210px;
                align-content: center;
                margin-bottom: 10px;
            }
    </style>
}

