@using X.PagedList
@using X.PagedList.Web.Common
@using X.PagedList.Mvc.Core

@model IPagedList<Automobil>

@*ako ovo upisemo data-ajax="true" onda postaje ajax zahtjev   data-ajax-update="#div1" (ovo je element koji se osvjezava ajax zahtjevom)  *@
<form id="form1" asp-action="_PretragaCena" data-ajax="true" data-ajax-update="#div1" asp-items="ViewBag.Automobili">
    @*<div class="form-group">
            <select id="Select1" name="AutomobilId" class="form-control" asp-items="ViewBag.Automobili">
                <option value="0">Svi automobili</option>
            </select>
        </div>*@
    <div class="row">
        <div class="ml-1 col-md-5">
            <div class="form-group">
                <label for="text1">@localizer["UnesiteMarku"]</label>
                <input type="text" id="text1" name="deoNaslova" class="form-control" />
            </div>
        </div>
        <div class="mr-1 col-md-5">
            <div class="form-group">
                <label for="text2">@localizer["UnesiteModel"]</label>
                <input type="text" id="text2" name="deoModela" class="form-control" />
            </div>
        </div>

    </div>
    <div class="row">
        <div class="ml-1 col-md-5">
            <div class="form-group">
                <Label for="Text1">@localizer["UnesiteMinCenu"]</Label>
                <input type="text" name="min" id="Text1" class="form-control" data-val="true" data-val-number="Unesite broj" />
                <span data-valmsg-for="min" data-valmsg-replace="true"></span>
                @*SADRZAJ SPAN ELEEMNTA ZAMJENI SADRZAJEM VALIDACIONE GRESKE ne mora da se uci napamet *@
                @*ovo nam je omoguceno zbog unobtrusive data-val="true"    data-val-number="Unesite broj" --nece moci da da ide dalje ako ne unese broj, ovo nije dovoljno da se napise tu, moramo dodati i npr span element gdje ce se ispisati poruka greske to se dodaje

                    data-valmsg-for="min"--unutar ovog span elementa ce se prikazivati validaciona greska za polje min

                    data-valmsg-replace="true" sadrzaj span elementa zamjeni sadrzajem validacione greske *@
            </div>
        </div>
        <div class="mr-1 col-md-5">
            <div class="form-group">
                <Label for="Text1">@localizer["UnesiteMaxCenu"]</Label>
                <input type="text" name="max" id="Text1" class="form-control" data-val="true" data-val-number="Unesite broj" />
                <span data-valmsg-for="max" data-valmsg-replace="true"></span><br />
                <button class="btn btn-primary float-right" type="button" onclick="Pronadji()">@localizer["Pronadji"]</button>
            </div>

            @*<button class="btn btn-primary">Pronadji proizvod</button>*@

        </div>
    </div>

</form>


<div class="row ">
    <div class="ml-2 col-md-6">
        Strana @Model.PageNumber od @Model.PageCount
    </div>
</div>

<div class="row">
    <div class="col-md-12 " id="div1">

        @foreach (Automobil auto in Model)
        {
            <div class="slika">
                <h4>@auto.Marka @auto.Model @auto.Godiste</h4>
                <a asp-action="Details" asp-route-id="@auto.AutomobilId"><img src="@($"/Automobil/CitajSliku/{auto.AutomobilId}")" alt="" /></a>

                <p>@localizer["Korisnik"]: @auto.KorisnickoIme</p>
                <br />
                <p>@localizer["Cena"]:<a class="text-primary"> @auto.Cena €</a></p>
                <p>

                    @if (UserManager.GetUserName(User) == auto.KorisnickoIme || UserManager.GetUserName(User) == "admin")
                    {
                    <p>
                        <a asp-action="Delete" asp-route-id="@auto.AutomobilId">@localizer["Obrisi"]</a> |
                        <a asp-action="Edit" asp-route-id="@auto.AutomobilId">@localizer["Promjeni"]</a> |
                        <a asp-action="Details" asp-route-id="@auto.AutomobilId">@localizer["Detalji"]</a>
                    </p>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@auto.AutomobilId">@localizer["Detalji"]</a>
                }

                </div>
            }

    </div>
</div>

<div class="row  ">
    <div class="ml-2 col-md-7">
        <ul class="pagination">
            @if (Model.PageNumber > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-strana="1">Prva</a>
                </li>

                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-strana="@(Model.PageNumber-1)">&lt;</a>
                </li>
            }
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                    @*ovo  ==i? onda dodaj klasu active, ako je oznacena strana da se upali bootstrapova biblioteka active.ako nije na oznacenoj strani gasi se ta klasa*@
                    <a class="page-link" asp-action="Index" asp-route-strana="@i">@i</a>
                </li>
            }
            @if (Model.PageNumber < Model.PageCount)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-strana="@(Model.PageNumber+1)">&gt;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-strana="@Model.PageCount">Poslednja</a>
                </li>
            }
        </ul>
    </div>
</div>


@section Scripts{
    <script>

        function Pronadji() {
            var podaci = $("#form1").serialize(); //name value parove vraca, i sami mozemo da iscitamo, ne moramo ovako
            var zahtjev = $.ajax({
                type: "GET",
                url: "/Automobil/_PretragaCena",
                data: podaci,
                dataType: "html"
            });
            zahtjev.done(function (htmlString) {
                $("#div1").html(htmlString);
            });
            zahtjev.fail(function (gr) {
                $("#div").html(gr.statusText);
            });
        }
    </script>

    @*ovo kopiramo iz _ValidationScriptsPartial.cshtml*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @*poslednju mi dodajemo*@
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
}

@section Styles{
        <style>
            div.slika {
                width: 300px;
                border-radius: 5px;
                border: 1px solid black;
                padding: 10px;
                float: left;
                margin: 10px;
            }

                div.slika img {
                    width: 280px;
                    height: 210px;
                    align-content: center;
                    margin-bottom: 10px;
                }
        </style>
    }