
<div id="main">
    <h1>@localizer["Kontakt"]</h1>
    <p>  &nbsp&nbsp&nbspLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
    <h2>@localizer["EvropskiPreprodavci"]</h2>
    <p> &nbsp&nbsp&nbspLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>


    <img src="~/Slike/20171011_2_26229827_26716874.jpg" style="width:630px;" />

    <p>
        &nbsp&nbsp&nbspLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.as been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    <h2>@localizer["KakoDoNas"]</h2>
    <p>
        &nbsp&nbsp&nbspLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>


</div><!-- end #main -->

<div id="sidebar">
    <div class="widget">
        <h2>@localizer["NasaProdavnaMjesta"]</h2>
        <p>&nbsp&nbsp&nbspLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <asp:Image ID="Image3" runat="server" ImageUrl="~/assigment/unternehmenszahlen-beitragsbild-1.jpg" style="width:280px;" />
    </div><!-- end .widget -->
    <div class="widget">
        <h2>@localizer["GodisnjiPromet"]</h2>
        <p>&nbsp&nbsp&nbspLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.&nbsp&nbsp&nbspLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <asp:Image ID="Image4" runat="server" ImageUrl="~/assigment/unternehmenszahlen-beitragsbild-2.jpg" style="width:280px;" />
    </div><!-- end .widget -->
    <div class="widget">
        <h2>@localizer["KontaktirajteNas"]</h2>

        <img src="~/Slike/slika.googlemaps.png" style="width:280px;" />
        <br />
        <p>
            Матије Корвина 17, Суботица 24000<br />
            Tel: +381 11 2062-900<br />
            E-mail: info@polovniautomobili.rs <br />
            Ili preko društvenih mreža:<br />
            Instagram: https://www.instagram.com/polovniautomobili<br />
            Facebook: https://www.facebook.com/polovniautomobili.Srbija/
        </p>


        <p><a href="#">Prikaz na google mapi!</a></p>
    </div><!-- end .widget -->
</div><!-- end #sidebar -->